@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root {
    --main-bg-color: darkslateblue;
    --sub-bg-color: #f2f7fb;
    --top-height: 70px;
    --main-transition: all 0.3 ease;
    --main-border-radius: 5px;
    --main-font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--main-font-family);
}

a {
    text-decoration: none;
    color: unset;
}

.li {
    list-style: none;
}

.main-btn {
    padding: 10px 12px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.delete-class{
    padding: 3px;
    background-color: red;
    color: white;
    border-radius: 5px;
}
.edit-class{
    padding: 3px;
    background-color: green;
    color: white;
    border-radius: 5px;

}
.confirm-order {
     padding: 3px;
    background-color: rgb(169, 34, 135);
    color: white;
    border-radius: 5px;
}
.nou_confirm-order {
     padding: 3px;
    background-color: red;
    color: white;
    border-radius: 5px;
}
/* main-admin */
.row-grid {
    display: grid;
    justify-content: space-between;
}

.admin .row-grid {
    grid-template-columns: 20% 80%;
}

/* sidebar */
.admin-sidebar {
    height: 100vh;
    background-color: var(--main-bg-color);

}

.admin-sidebar-top {
    text-align: center;
    height: var(--top-height);
    border-bottom: 1px solid gray;
}

.admin-sidebar-top img {
    width: 50px;
    border-radius: 12px;
}

.admin-sidebar-content {
    padding: 30px 0 0 30px;
    color: whitesmoke;
}

.admin-sidebar-content>ul>li>a {
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-start;
}

.admin-sidebar-content>ul>li>a i:last-child {
    margin-left: auto;
}

.admin-sidebar-content ul li a i {
    margin-right: 6px;
}

.admin-sidebar-content ul li {
    padding: 6px;
    transition: var(--main-transition);
}

.admin-sidebar-content ul li:hover {
    background-color: cornflowerblue;
}

.sub-menu {
    height: 0;
    overflow: hidden;
    transition: var(--main-transition);
}

.flex-box {
    display: flex;
}

/* .sub-menu.active {
   height: 50px;
} */
.sub-menu li:hover a {
    color: brown;

}

/* admin-content */
.admin-content {
    background-color: var(--sub-bg-color);

}

.admin-content-top {
    display: flex;
    justify-content: space-between;
    height: var(--top-height);
    border-bottom: 1px solid darkslateblue;
    padding: 0 12px;
}

.admin-content-top .flex-box {
    height: 70px;
    align-items: center;
}

.admin-content-top i {
    margin-right: 12px;
}

.admin-content-top-right ul li:last-child p {
    cursor: pointer;
}

.admin-content-top-right ul li:last-child i {
    position: relative;
}

.admin-content-top-right ul li:first-child i::after {
    position: absolute;
    content: attr(number);
    height: 20px;
    width: 20px;
    display: block;
    background-color: blueviolet;
    border-radius: 50%;
    top: 13px;
    right: 190px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}

.admin-content-top-right ul li:nth-child(2) i {
    position: relative;
}

.admin-content-top-right ul li:nth-child(2) i::after {
    position: absolute;
    content: attr(number);
    height: 20px;
    width: 20px;
    display: block;
    background-color: blueviolet;
    border-radius: 50%;
    top: -15px;
    right: -7px;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: notification;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.admin-content-top-right img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.admin-content-title {

    padding: 12px;
    font-weight: 500;
    position: relative;
}

.admin-content-title h1::before {
    position: absolute;
    display: block;
    content: "";
    height: 4px;
    width: 70px;
    background-color: var(--main-bg-color);
    bottom: 6px;
    left: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
/* product-add */

.admin-content-main-content-product-add {
     display: grid;
    grid-template-columns: 70% 30%;
    margin: 15px;
    column-gap: 30px;
    
}
.admin-content-main-content-left input {
    height: 30px;
    border: none;
    background-color: white;
    margin-bottom: 20px;
    outline: none;
    border-radius: var(--main-border-radius);
    padding-left: 6px;
}

.admin-content-main-content-two-input {
    display: flex;
    justify-content: space-between;
}

.admin-content-main-content-two-input input {
    width: 45%;
    height: 40px;
}


 .admin-content-main-content-right-image input {
    display: none;
}

.admin-content-main-content-right-images input {
    display: none;
}

.admin-content-main-content-right label {
    padding: 6px 12px;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
} 

 .image-show,
.images-show {
    min-height: 150px;
} 

/* product-list */
.admin-content-main-content-product-list table {
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
}
.admin-content-main-content-product-list table,th,td {

    text-align: center;
    
}
.admin-content-main-content-product-list table th {
    background-color: blueviolet;
    padding: 12px 0 ;
}
/* order-list */
.admin-content-main-content-order-list table {
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
}
.admin-content-main-content-order-list a {
    display: inline-block;
}
.admin-content-main-content-order-list table,th,td {

    text-align: center;
    
}
.admin-content-main-content-order-list table th {
    background-color: blueviolet;
    padding: 12px 0 ;
    text-align: center;

}
.admin-content-main-content-order-list table td {
    
    padding: 12px 0 ;
}
.admin-content-main-content-product-list img {
    margin: 8px; 
}
.admin-content-main-content-product-list table th,
.admin-content-main-content-product-list table td {
    text-align: center;
    vertical-align: middle;
}
#input-file-img,.input-file-imgs {
    padding: 12px o ;
}
#input-file-img img {
    width: 200px; 
    border-radius: 5px;
}
#input-file-imgs img {
    width: 200px; 
    border-radius: 5px;
    margin: 10px ;
}




@keyframes notification {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}